<footer>
  <div class="footer-top-area">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="footer-about-us">
              <h2><%= t(".stora")%></h2>
                <div class="footer-social">
                  <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
              <h2 class="footer-wid-title"><%= t(".user_nav") %> </h2>
                <ul>
                  <li><%= link_to t(".account"), "#" %></li>
                  <li><%= link_to t(".order_his"), "#" %></li>
                  <li><%= link_to t(".wishlist"), "#" %></li>
                  <li><%= link_to t(".ven_contact"), "#" %></li>
                  <li><%= link_to t("font_page"), "#" %></li>
                </ul>                        
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-menu">
              <h2 class="footer-wid-title"><%= t(".catego") %></h2>
                <ul>
                  <li><%= link_to t(".fres_food"), "#" %></li>
                  <li><%= link_to t(".fres_drink"), "#" %></li>
                  <li><%= link_to t(".spec_food"), "#" %></li>
                  <li><%= link_to t(".spec_drink"), "#" %></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="footer-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="copyright">
            <p><%= t(".copy_right") %></p>
          </div>
        </div> 
      <div class="col-md-4">
        <div class="footer-card-icon">
          <i class="fa fa-cc-discover"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-paypal"></i>
          <i class="fa fa-cc-visa"></i>
        </div>
      </div>
    </div>
    </div>
  </div> 
<!-- End footer bottom area -->
</footer>
